@media screen and (max-width: 992px) {
  .CodeBlock {
    font-size: .8em !important;
  }
}

.CodeBlock {
  font-family: 'Fira Code';
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .9em;
}

.CodeBlock button {
  cursor: pointer;
}