@media screen and (max-width: 480px) {
  .FooterName {
    font-size: 90%;
  }

  .Footer {
    width: 90% !important;
    flex-direction: column;
  }

  .SiteLinks {
    width: 90% !important;
    justify-content: center !important;
    margin-bottom: .1rem;
  }

  .CopyrightWrapper {
    width: 90% !important;
    justify-content: center !important;
  }

  .CopyrightWrapper small {
    margin-left: 0 !important;
  }

  .LeftFooterWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: .1rem;
  }

  .SocialLinkLogo {
    margin-left: 0 !important;
  }

  .SocialLinkWrapper {
    display: flex !important;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: .1rem;
  }
}

@media screen and (max-width: 992px) {
  .FooterContainer {
    position: relative !important;
  }
}

.SocialLinkLogo {
  margin-top: .2rem !important;
  margin-left: 1rem;
}

.FooterContainer {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: .75rem;
  color: #6c757d;
}

.Footer {
  display: flex;
  justify-content: space-between;
  padding-top: .75rem;
  margin: auto;
  width: 60%;
  border-top: 1px solid rgba(156, 156, 156, 0.4);
}

.SocialLinkWrapper {
  display: inline-flex;
}

.SocialLinks {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  margin: auto;
}

.SiteLinks {
  font-size: 1.15rem;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.SiteLinks a {
  margin-left: 1rem;
  text-decoration: none;
}

.LeftFooterWrapper {
  display: inline-flex;
}

.CopyrightWrapper {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  margin: auto;
}

.CopyrightWrapper small {
  margin-left: 1rem;
}
