@media screen and (max-width: 480px) {
  .Footer {
    width: 90% !important;
    flex-direction: column;
    padding-bottom: 0 !important;
  }

  .CopyrightWrapper {
    width: 90% !important;
    justify-content: center !important;
  }

  .CopyrightWrapper small {
    margin-left: 0 !important;
  }

  .SocialLinkLogo {
    margin-left: 0 !important;
  }

  .SocialLinkWrapper {
    display: flex !important;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: .5rem;
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 992px) {
  .FooterContainer {
    position: relative !important;
  }
}

.SocialLinkLogo {
  margin-top: .2rem !important;
  margin-left: 1rem;
}

.FooterContainer {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: .75rem;
  color: #6c757d;
}

.Footer {
  display: flex;
  justify-content: space-between;
  padding-top: .75rem;
  padding-bottom: .5rem;
  margin: auto;
  border-top: 1px solid rgba(156, 156, 156, 0.4);
  width: 60%;
}

.SocialLinkWrapper {
  display: inline-flex;
  margin-left: -1rem;
}

.CopyrightWrapper {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 100%;
}

.CopyrightWrapper small {
  margin-left: 1rem;
}
