@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-VariableFont_wght.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.6;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  color: #5469d4;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

hr {
  opacity: .4;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

span.book-source {
  display: flex; 
  justify-content: center;
  font-size: 8px;
}

blockquote {
	background: #f9f9f9;
	border-left: 4px solid #ff3d98;
	margin: 1.5em 10px;
	padding: 1em 10px;
}

blockquote p {
	display: inline;
  font-size: 1.15em;
  font-style: italic;
}

li {
  margin-bottom: 2px;
}

li ul {
  margin: 4px 0;
}

h2 code {
  font-size: 1.25rem;
}

.ZoomImageWrapper img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.ZoomImageWrapper input[type=checkbox]:checked~img {
  transform: scale(1.25);
  cursor: zoom-out;
}
